<%= import ExAwsGen.Helpers %>
defmodule ExAws.<%= @module %>.Test do
  use ExUnit.Case, async: true

  test "Basic sanity check" do
    client = ExAws.<%= @module %>.Client.new
    assert apply(ExAws.<%= @module %>.Core, :<%= test_fun(@test_config) %>, [client | <%= inspect json_args(@test_config)%>])
  end
end
