<%= import ExAwsGen.TestHelper %>
defmodule ExAws.<%= @module %>.Test do
  use ExUnit.Case, async: true

  test "Basic integration test" do
    assert {:ok, _} = ExAws.<%= @module %>.new
    |> ExAws.<%= @module %>.Core.<%= test_fun(@test_config) %>(<%= inspect json_args(@test_config)%>)
  end
end
