<%= import ExAwsGen.Helpers %>
defmodule ExAws.<%= @module %>.Test do
  use ExUnit.Case, async: true

  test "Basic sanity check" do
    assert {:ok, _} = ExAws.<%= @module %>.Client.new
    |> ExAws.<%= @module %>.Core.<%= test_fun(@test_config) %>(<%= inspect query_args(@test_config)%>)
  end
end
